strict-ssl=false
registry=https://registry.npmjs.org/
#proxy=http://PITC-Zscaler-Americas-Alpharetta3PR.proxy.corporate.ge.com
#https-proxy=http://PITC-Zscaler-Americas-Alpharetta3PR.proxy.corporate.ge.com
